LANGCHAIN_TRACING_V2= "" 
LANGCHAIN_ENDPOINT= "https://api.smith.langchain.com"
LANGCHAIN_API_KEY= ""
LANGCHAIN_PROJECT= ""
NVIDIA_API_KEY = ""
MONGODB_ATLAS_CLUSTER_URI = ""
USER_AGENT = ""
TAVILY_API_KEY = ""
