LANGCHAIN_TRACING_V2= "" 
LANGCHAIN_ENDPOINT= "https://api.smith.langchain.com"
LANGCHAIN_API_KEY= ""
LANGCHAIN_PROJECT= ""
OPENAI_API_KEY = ""
USER_AGENT = ""
TAVILY_API_KEY = ""

# PGVector connection string
PGVT_CONNECTION = "postgresql+psycopg://<POSTGRES_USER>:<POSTGRES_PASSWORD>@<HOST>:<PORT>/<POSTGRES_DB>"

# Postgres connection string
PSQL_CONNECTION = "postgresql://<POSTGRES_USER>:<POSTGRES_PASSWORD>@<HOST>:<PORT>/<POSTGRES_DB>?sslmode=disable"
