# /----Alpha Vantage---/
VITE_AA_URL = https://www.alphavantage.co
VITE_AA_API_KEY = ""
# 25 calls/day

# /----Financial Modeling Prep---/
VITE_FMP_URL = https://financialmodelingprep.com/api
VITE_FMP_API_KEY = ""
# 250calls/day

# /----Polygon---/
VITE_PO_URL = https://api.polygon.io
VITE_PO_API_KEY = ""
# 5 API Calls / Minute

VITE_GOOGLE_CLIENT_ID = ""
VITE_GOOGLE_CLIENT_SECRET = ""
VITE_GOOGLE_TOKEN_URI = ""

VITE_BASE_URL = ""
